.fc .fc-button {
  background-color: #1f4529;
  color: white;
  border: none;
  border-radius: 4px;
}

.fc .fc-button:hover {
  background-color: #2f6640;
}

.fc .fc-daygrid-day {
  border: 1px solid #1f4529;
}

.fc .fc-scrollgrid {
  border: 2px solid #1f4529;
}

.fc .fc-col-header-cell {
  border: 1px solid #1f4529;
}
